/*
    The actual styles needed for the framework - this is kinda generic so the other stylesheets are for custom styling 
*/

/*
    main class which is passed to slider element in the initialization div element
*/

.main_slider {
    --slide-transition-speed: 3000ms;
}

/* every slide container gets this class iterative if its defined in the main element/ div */
.slide_element {
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: all ease-in-out attributes(--slide-transition-speed);
}

/* is used when slide is active */
.slide_element_active {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: all ease-in-out attributes(--slide-transition-speed);
}

/* Responsive Styles */

@media (max-width: 768px) {
    .slide_element_active {
        width: fit-content;
    }
}

/** vanity element is used to display pagination  */
.main_slider_vanity {
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* item of the navigation */
.navigation_item,
.next-btn,
.prev-btn {
    color: grey;
    width: 17px;
    height: 22px;
    cursor: pointer;
}

.next-btn {
    background: url("../assets/icons/chevron-right-solid.svg");
}

.prev-btn {
    background: url("../assets/icons/chevron-left-solid.svg");
}

.next-btn:hover,
.prev-btn:hover {
    animation: bounceAnimation .5s ease infinite alternate;
}


/** circle which is used to display pagination **/
.pagination_item {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: grey;
    margin: 0 2%;
    cursor: pointer;
}

.pagination_item:hover {
    background-color: blue;
}

/** circle which is used to display pagination - currently active element **/
.pagination_item_active {
    background-color: black;
}

/** this is the parent of the pagination item to show pagination items in a row via flexbox */
.main_pagination {
    position: fixed;
    display: flex;
    width: 80%;
    justify-content: flex-end;
    z-index: 3;
    align-items: center;
    bottom: 3rem;
    flex-direction: row;
    right: 3rem;
}

@keyframes bounceAnimation {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/* 
    stuff which is custom for the page 
*/