.content {
    font-family: poppins-regular;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.element-container, .picture-container, .headline-container  {
    padding: 1rem;
    border-radius: 1.5rem;
    min-width: 30rem;
    width: 40vw;
    height: 80vh;
}

.picture-container {
    background-image: url("/assets/img/landingpage_placeholder.jpg");
    background-size: cover;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.headline-main {
    font-family: poppins-medium;
    font-size: 8em;
}

.headline-sec {
    font-family: poppins-light;
    font-size: 3em;
}

.arrow-right-inline {
    height: 4em;
}