main-container {
    font-family: poppins-regular;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

page-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

element-container,
picture-container,
headline-container,
scrollable-container,
center-container {
    padding: 1rem;
    border-radius: 1.5rem;
    min-width: 30rem;
    width: 40vw;
    height: 70vh;
}

scrollable-container {
    overflow: scroll;
}

picture-container {
    background-image: url('/assets/img/mike_frankfurt.jpg');
    background-size: cover;
}

main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

headline-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

center-container {
    justify-content: center;
    align-items: center;
}

.headline-main {
    font-family: poppins-medium;
    font-size: 8em;
}

.headline-sec {
    font-family: poppins-light;
    font-size: 3em;
}


/* 

SKILL BARS
skill bar is used to show off skills

*/


/* Make sure that padding behaves as expected */
skill-bar-container {
    box-sizing: border-box
}

/* Container for skill bars */
skill-bar-background {
    display: block;
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
    border-radius: 1rem;
}

skill-bar {
    display: block;
    height: 1rem;
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.flutter {
    width: 90%;
}

/* Green */
.swift {
    width: 70%;
}

/* Blue */
.js {
    width: 85%;
}

/* Red */
.php {
    width: 80%;
}

/* Red */
.java {
    width: 60%;
}

/* Red */
.sql {
    width: 85%;
}

/* Red */
.mongodb {
    width: 70%;
}

/* Dark Grey */


/** 
Gradient background animation
**/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

skill-bar {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.card-element {
    margin: 1rem;
    padding: 0.2rem;
    background-color: rgb(228, 228, 228);
    border-radius: 8px;
}