@font-face {
    font-family: poppins-regular;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-medium;
    src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
}

body {
    font-family: poppins-regular;
    background-color: rgb(225, 225, 225);
}

h1 {
    font-family: poppins-medium;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item, .item-picture {
    padding: 1rem;
    border-radius: 1.5rem;
    min-width: 30rem;
    width: 40vw;
    height: 80vh;
    background-color: lightgrey;
}

.item-picture {
    background-image: url("/assets/img/landingpage_placeholder.jpg");
    background-size: cover;
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}